@import "tailwindcss";

@font-face {
  font-family: "Creato Display";
  src: url(./assets/fonts/CreatoDisplay-Bold.otf) format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url(./assets/fonts/CreatoDisplay-Light.otf) format("otf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url(./assets/fonts/CreatoDisplay-Medium.otf) format("otf");
  font-weight: medium;
  font-style: normal;
}

@theme {
  --font-creato: "Creato Display", sans-serif;

  --color-primary: #99cccc;
  --color-secondary: #669999;
}

.hero-button {
  @apply w-32.5 h-15 bg-primary rounded-4xl border-secondary border-3 font-medium text-white text-2xl tracking-tighter  shadow-[0_7px_20px_0_rgba(54,69,77,0.25)] cursor-pointer;
}

.social-btns {
  @apply w-12.5 h-12.5 bg-primary flex items-center justify-center rounded-[7px] shadow-[0_7px_20px_0_rgba(54,69,77,0.25)];
}
